 @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import "tailwindcss";


*{
  font-family:"Manrope",sans-serif;
  font-weight:500;
}
@theme{
  --color-primary:#5044E5;
}